
variables:
  fatsDir: '$(system.defaultWorkingDirectory)/../fats'
  fatsRefspec: 4d76fb0d29c92bc5cf560c3d94042e1e46355048 # projectriff/fats master as of 2019-08-08
  duffleNamespace: kube-system
  duffleServiceAccount: duffle-runtime

jobs:
- job: test_pr
  pool:
    vmImage: 'ubuntu-16.04'
  condition: and(succeeded(), eq(variables['Build.Reason'], 'PullRequest'))
  variables:
    CLUSTER: minikube
    REGISTRY: minikube
    CLUSTER_NAME: 'cnab-$(Build.BuildId)-minikube'
    NAMESPACE: 'cnab-$(Build.BuildId)-minikube'
  steps:
  - bash: ./ci/fats-fetch.sh $(fatsDir) $(fatsRefspec) projectriff/fats
    displayName: 'Fetch FATS'
  - bash: |
      $(fatsDir)/install.sh kubectl
      $(fatsDir)/install.sh riff
      $(fatsDir)/install.sh duffle
    displayName: 'Install tools'
  - bash: duffle init && make bundle
    displayName: 'Build bundle'
  - script: $(fatsDir)/start.sh
    displayName: 'Start FATS'
  - bash: |
      source $(fatsDir)/.configure.sh
      kubectl create serviceaccount $(duffleServiceAccount) -n $(duffleNamespace)
      kubectl create clusterrolebinding "$(duffleServiceAccount)-cluster-admin" --clusterrole cluster-admin --serviceaccount "$(duffleNamespace):$(duffleServiceAccount)"
      KUBE_NAMESPACE=$(duffleNamespace) SERVICE_ACCOUNT=$(duffleServiceAccount) duffle install myriff riff ${DUFFLE_RIFF_INSTALL_FLAGS} -d k8s
    displayName: 'Install riff'
  - bash: ./ci/run-tests.sh
    displayName: 'Run tests'
    env:
      FATS_DIR: $(fatsDir)
      FATS_REFSPEC: $(fatsRefspec)
  - bash: ci/diagnostics.sh
    condition: failed()
    displayName: 'Collect diagnostics'
  - bash: KUBE_NAMESPACE=$(duffleNamespace) SERVICE_ACCOUNT=$(duffleServiceAccount) duffle uninstall myriff -d k8s
    condition: always()
    displayName: 'Uninstall riff'
  - bash: $(fatsDir)/cleanup.sh
    condition: always()
    displayName: 'Cleanup FATS'
  displayName: 'Test PR'

- job: stage
  pool:
    vmImage: 'ubuntu-16.04'
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  steps:
  - bash: ./ci/fats-fetch.sh $(fatsDir) $(fatsRefspec) projectriff/fats
    displayName: 'Fetch FATS'
  - bash: |
      $(fatsDir)/install.sh duffle
    displayName: 'Install Tools'
  - bash: duffle init && make bundle
    displayName: 'Make bundle'
  - bash: |
      $(fatsDir)/install.sh gcloud
      ./ci/stage-bundle.sh
    env:
      DOCKER_USERNAME: '$(DockerUsername)'
      DOCKER_PASSWORD: '$(DockerPassword)'
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
    displayName: 'Stage riff bundle'
  displayName: 'Stage'

- job: test
  dependsOn: stage
  strategy:
    matrix:
      minikube:
        imageName: ubuntu-16.04
        qualifier: minikube
        cluster: minikube
        registry: dockerhub
      gke:
        imageName: ubuntu-16.04
        qualifier: gke
        cluster: gke
        registry: gcr
  pool:
    vmImage: $(imageName)
  variables:
    CLUSTER:  '$(cluster)'
    REGISTRY: '$(registry)'
    CLUSTER_NAME: 'cnab-$(Build.BuildId)-$(qualifier)'
    NAMESPACE: '$(CLUSTER_NAME)'
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  steps:
  - bash: ./ci/fats-fetch.sh $(fatsDir) $(fatsRefspec) projectriff/fats
    displayName: 'Fetch FATS'
  - bash: |
      $(fatsDir)/install.sh kubectl
      $(fatsDir)/install.sh riff
      $(fatsDir)/install.sh duffle
      $(fatsDir)/install.sh gcloud
    displayName: 'Install tools'
    env:
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
  - bash: $(fatsDir)/start.sh
    displayName: 'Start FATS'
    env:
      DOCKER_USERNAME: '$(DockerUsername)'
      DOCKER_PASSWORD: '$(DockerPassword)'
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
  - bash: |
      source $(fatsDir)/.configure.sh
      version=`cat VERSION`
      commit=$(git rev-parse HEAD)
      file=riff-bundle-${version}-${commit}.json
      curl -O https://storage.googleapis.com/projectriff/riff-cnab/builds/${file}
      kubectl create serviceaccount $(duffleServiceAccount) -n $(duffleNamespace)
      kubectl create clusterrolebinding "$(duffleServiceAccount)-cluster-admin" --clusterrole cluster-admin --serviceaccount "$(duffleNamespace):$(duffleServiceAccount)"
      KUBE_NAMESPACE=$(duffleNamespace) SERVICE_ACCOUNT=$(duffleServiceAccount) duffle install myriff ${file} --bundle-is-file ${DUFFLE_RIFF_INSTALL_FLAGS} -d k8s
    env:
      COMPOSE_CONVERT_WINDOWS_PATHS: 1
    displayName: 'Install riff'
  - bash: ./ci/run-tests.sh
    displayName: 'run fats'
    env:
      DOCKER_USERNAME: '$(DockerUsername)'
      DOCKER_PASSWORD: '$(DockerPassword)'
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
      FATS_DIR: $(fatsDir)
      FATS_REFSPEC: $(fatsRefspec)
  - bash: ci/diagnostics.sh
    condition: failed()
    displayName: 'Collect diagnostics'
  - bash: KUBE_NAMESPACE=$(duffleNamespace) SERVICE_ACCOUNT=$(duffleServiceAccount) duffle uninstall myriff -d k8s
    condition: always()
    displayName: 'Uninstall riff'
  - bash: $(fatsDir)/cleanup.sh
    env:
      DOCKER_USERNAME: '$(DockerUsername)'
      DOCKER_PASSWORD: '$(DockerPassword)'
    condition: always()
    displayName: 'Cleanup FATS'
  displayName: 'Test'

- job: publish
  dependsOn: test
  pool:
    vmImage: 'Ubuntu-16.04'
  condition: |
    and(
      succeeded(),
      ne(variables['Build.Reason'], 'PullRequest'),
      eq(variables['Build.SourceBranch'], 'refs/heads/master')
    )
  steps:
  - bash: ./ci/fats-fetch.sh $(fatsDir) $(fatsRefspec) projectriff/fats
    displayName: 'Fetch FATS'
  - bash: $(fatsDir)/install.sh gcloud
    env:
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
    displayName: 'Install gcloud'
  - bash: ./ci/publish.sh release
    displayName: 'Publish bundle'
  displayName: 'Publish'
