
variables:
  duffleVersion: '0.1.0-ralpha.5%2Benglishrose'
  fatsDir: '$(system.defaultWorkingDirectory)/../fats'
  fatsRefspec: a224572f2f9685de7d7312f4d6c7e2892699fdd5 # projectriff/fats master as of 2019-05-01

jobs:
- job: build
  pool:
    vmImage: 'windows-2019'

  steps:
  - template: ci/fetch-fats-step.yml
  - template: ci/install-duffle-step.yml

  # - script: duffle init && duffle build .
  #   displayName: 'build bundle'

  - bash: |
      $(fatsDir)/install.sh kubectl
      $(fatsDir)/install.sh minikube
      $(fatsDir)/install.sh riff
    displayName: 'install tools'
### hack
  - bash: source $(fatsDir)/start.sh
    displayName: 'setup cluster'
    env:
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
      CLUSTER:  'gke'
      REGISTRY: 'gcr'
      CLUSTER_NAME: 'riff-$(Build.BuildId)-gke'
      NAMESPACE: 'riff-$(Build.BuildId)-gke'

  - bash: |
      set -x
      version="0.1.0-20190502.1"
      file=riff-bundle-${version}.json
      curl -O https://storage.googleapis.com/projectriff/riff-cnab/builds/${file}
      duffle credentials add ci/myk8s.yaml
      echo "COMPOSE_CONVERT_WINDOWS_PATHS: $COMPOSE_CONVERT_WINDOWS_PATHS"
      docker -SwitchLinuxEngine
      docker run -d -p 5000:5000 registry:2
      duffle install myriff ${file} --bundle-is-file --credentials myk8s --insecure
    displayName: 'install riff from cnab bundle'
    env:
      COMPOSE_CONVERT_WINDOWS_PATHS: 1

  - bash: source $(fatsDir)/cleanup.sh
    displayName: 'cleanup cluster'
    condition: always()
    env:
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
      CLUSTER:  'gke'
      REGISTRY: 'gcr'
      CLUSTER_NAME: 'riff-$(Build.BuildId)-gke'
      NAMESPACE: 'riff-$(Build.BuildId)-gke'

## hack end
  - script: sudo apt-get update && sudo apt-get remove moby-engine moby-cli && sudo apt-get install docker.io=18.06.1-0ubuntu1.2~16.04.1
    displayName: 'Downgrade Docker'

  - script: |
      minikube config set embed-certs true # this ensures that ~/.minikube is not needed in invocation image
      source $(fatsDir)/start.sh
    displayName: 'install and start minikube'
    env:
      CLUSTER: minikube
      REGISTRY: minikube

  - script: |
      duffle credentials add ci/myk8s.yaml
      duffle install myriff riff --credentials myk8s
    displayName: 'duffle install'

  - bash: ./ci/run-tests.sh
    displayName: 'run fats'
    env:
      CLUSTER:  'minikube'
      REGISTRY: 'docker-daemon'
      CLUSTER_NAME: 'riff-$(Build.BuildId)-minikube'
      NAMESPACE: 'riff-$(Build.BuildId)-minikube'
      DOCKER_USERNAME: '$(DockerUsername)'
      DOCKER_PASSWORD: '$(DockerPassword)'
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
      FATS_DIR: $(fatsDir)
      FATS_REFSPEC: $(fatsRefspec)

  - bash: |
      kubectl get deployments,services,pods --all-namespaces || true
      echo "FAILING PODS:"
      kubectl get pods --all-namespaces --field-selector=status.phase!=Running \
      | tail -n +2 | awk '{print "-n", $1, $2}' | xargs -L 1 kubectl describe pod || true
      echo "NODE:"
      kubectl describe node || true
    condition: failed()
    displayName: 'diagnostics'

  - bash: |
      $(fatsDir)/install.sh gcloud
      ./ci/publish.sh stage
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    env:
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
      BUILD_NUMBER: '$(Build.BuildNumber)'
    displayName: 'Publish riff cnab bundle'

  - template: ci/publish-docker-image-steps.yml

- job: test
  dependsOn: build
  strategy:
    matrix:
      minikube:
        imageName: ubuntu-16.04
        qualifier: minikube
        cluster: minikube
        registry: dockerhub
      gke:
        imageName: ubuntu-16.04
        qualifier: gke
        cluster: gke
        registry: gcr
      windows:
        imageName: windows-2019
        qualifier: windows
        cluster: gke
        registry: gcr
  pool:
    vmImage: $(imageName)
  variables:
    CLUSTER:  '$(cluster)'
    REGISTRY: '$(registry)'
    CLUSTER_NAME: 'riff-$(Build.BuildId)-$(qualifier)'
    NAMESPACE: '$(CLUSTER_NAME)'
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))

  steps:
  - template: ci/fetch-fats-step.yml
  - template: ci/install-duffle-step.yml

  - bash: |
      $(fatsDir)/install.sh kubectl
      $(fatsDir)/install.sh minikube
      $(fatsDir)/install.sh riff
      $(fatsDir)/install.sh gcloud
    displayName: 'install tools'
    env:
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'

  - script: |
      sudo apt-get update && sudo apt-get remove moby-engine moby-cli && sudo apt-get install docker.io=18.06.1-0ubuntu1.2~16.04.1
    condition: eq( variables['Agent.OS'], 'Linux' )
    displayName: 'downgrade docker'

  - script: minikube config set embed-certs true
    condition: eq(variables['CLUSTER'], 'minikube')
    displayName: 'setup minikube'

  - bash: source $(fatsDir)/start.sh
    displayName: 'setup cluster'
    env:
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'

  - bash: |
      version="`cat VERSION`-$(Build.BuildNumber)"
      file=riff-bundle-${version}.json
      curl -O https://storage.googleapis.com/projectriff/riff-cnab/builds/${file}
      duffle credentials add ci/myk8s.yaml
      duffle install myriff ${file} --bundle-is-file --credentials myk8s --insecure
    displayName: 'install riff from cnab bundle'
    env:
      COMPOSE_CONVERT_WINDOWS_PATHS: 1

  - bash: ./ci/run-tests.sh
    displayName: 'run fats'
    env:
      DOCKER_USERNAME: '$(DockerUsername)'
      DOCKER_PASSWORD: '$(DockerPassword)'
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
      FATS_DIR: $(fatsDir)
      FATS_REFSPEC: $(fatsRefspec)

  - bash: |
      kubectl get deployments,services,pods --all-namespaces || true
      echo "FAILING PODS:"
      kubectl get pods --all-namespaces --field-selector=status.phase!=Running \
      | tail -n +2 | awk '{print "-n", $1, $2}' | xargs -L 1 kubectl describe pod || true
      echo "NODE:"
      kubectl describe node || true
    condition: failed()
    displayName: 'diagnostics'

  - bash: |
      source $(fatsDir)/cleanup.sh
    env:
      DOCKER_USERNAME: '$(DockerUsername)'
      DOCKER_PASSWORD: '$(DockerPassword)'
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
    condition: always()
    displayName: 'Cleanup FATS'

- job: publish
  dependsOn: test
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - bash: |
      $(fatsDir)/install.sh gcloud
      ./ci/publish.sh snapshot
    condition: startsWith(variables['Build.SourceBranch'], 'refs/heads/master')
    env:
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
      BUILD_NUMBER: '$(Build.BuildNumber)'
    displayName: 'Publish riff cnab bundle'

  - bash: ./ci/publish.sh release
    condition: startsWith(variables['Build.SourceBranch'], 'refs/heads/v')
    env:
      GCLOUD_CLIENT_SECRET: '$(GcloudClientSecret)'
    displayName: 'Publish riff cnab bundle'
